{% extends 'base.html.twig' %}

{% block body %}

    <div class="posts_list">
        <div class="list_head">

        </div>
        {% if pagination|length > 0 %}
            {% for post in pagination %}
                <div class="post">
                    <div class="thumbnail">
                        {% if post.image is not empty %}
                        <img src="{{ post.image }}" alt="{{ post.title }}" height="100%" width="100%" />
                        {% endif %}
                    </div>
                    <div class="entry">
                        <div class="title">
                            <a href="{{ post.url }}">{{ post.title }} </a><span class="domain">({{ post.host }})</span>
                        </div>
                        <div class="submitted">
                            Submitted {{ post.getCreatedAt().diffForHumans() }} by <strong>{{ post.getUser().getUsername() }}</strong>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>{{ 'posts.not_found'|trans }}</p>
        {% endif %}
        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>

{% endblock %}

